.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #042f4b;
}

h1 {
  margin: 25px;
  font-family: 'Lexend Deca', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #f2e3c9;
}

p {
  font-size: 2rem;
  color: #f2e3c9;
  font-family: 'Lexend Deca', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #f2e3c9;
  text-align: center;
  font-family: 'Lexend Deca', cursive;

}
